---
layout: default
title: Jb Evain
---

<article id="home">

	<p>
	Hi! I'm <abbr title="Jean-Baptiste">Jb</abbr>, a &ldquo;obviously french&rdquo; programmer. I'm the founder of <a href="http://syntaxtree.com">SyntaxTree</a>, a developer tools company. Want to get in touch? Drop me <a href="mailto:jb@evain.net">an email</a>!
	</p>

	<h3>Links</h3>
	<ul>
		<li><a href="http://twitter.com/jbevain">Twitter</a> - <a href="http://github.com/jbevain">Code</a> - <a href="http://linkedin.com/in/jbevain">Resume</a></li>
	</ul>

	<h3>Articles</h3>

    <ul>
        {% for post in site.posts limit:100 %}
        {% if post.standalone == null %}
        <li><time datetime="{{ post.date }}">{{ post.date | date_to_string }}</time><a href="{{ post.url }}">{{ post.title }}</a>
        {% endif %}
        {% endfor %}
    </ul>
</article>
